<%= template 'templates/header.html', :styles => ['gallery'] %>

<p>Welcome to the gallery of codyn model examples. Each of the models displayed here are accompanied by the model description in codyn and a short video displaying its behavior. The examples are distributed
under the Creative Commons CC-BY license.</p>

<table class="gallery">
<colgroup>
<col width="300px">
<col width="300px">
<col width="300px">
</colgroup>
<tr>
	<td>
		<a href="gallery_closedfixed.html">
		<img src="images/gallery/closedfixed.png"/>
		<div>Closed loop dynamics on fixed base</div>
		</a>
	</td>
	<td></td>
	<td></td>
</tr>
</table>

<%= template 'templates/footer.html' %>
