<% template('templates/gallery.html',
    :model => 'coupledpointmass',
    :title => 'Coupled accelerating point masses',
    :plotted => true,
    :series => [
    	{:i => 0, :label => 'n1.y'},
    	{:i => 1, :label => 'n2.y'}
    ]) do %>

<% markdown do %>

Example of a two accelerating point masses which are coupled with a bidirectional
spring. In this model we see how to create an edge between two nodes which defines
additional dynamics on the state variable of each node. This type of coupling can
be represented in a very natural way in codyn, by separation of the coupling terms
into edges.

<% end %>

<% end %>
