<% template('templates/gallery.html',
    :model => 'panto',
    :title => 'Pantographic leg') do %>

<% markdown do %>

Example of loop closing joints to simulate a parallel structure resembling a
pantographic leg. Special loop closure joints specify the loop closure relation
between two joints in the kinematic tree as shown on [line 54](#n54). Here,
a torsional spring force acts on the "knee" joint causing initial high-frequent
oscillations which quickly settle the leg in the rest position.

<% end %>

<% end %>
