<%= template 'templates/header.html', :styles => ['gallery'] %>

<p>Welcome to the gallery of codyn model examples. Each of the models displayed here are accompanied by the model description in codyn and a short video displaying its behavior. The examples are distributed
under the Creative Commons CC-BY license.</p>

<table class="gallery">
<colgroup>
<col width="300px">
<col width="300px">
<col width="300px">
</colgroup>
<tr>
<td colspan="3" class="header">
Syntax examples
</td>
</tr>
<tr>
	<td>
		<a href="gallery_pointmass.html">
		<img src="images/gallery/pointmass.png"/>
		<div>Simple accelerating point mass</div>
		</a>
	</td>
	<td>
		<a href="gallery_doublepointmass.html">
		<img src="images/gallery/doublepointmass.png"/>
		<div>Double accelerating point mass</div>
		</a>
	</td>
	<td>
		<a href="gallery_coupledpointmass.html">
		<img src="images/gallery/coupledpointmass.png"/>
		<div>Coupled point masses</div>
		</a>
	</td>
</tr>
<tr>
	<td>
		<a href="gallery_multicoupling.html">
		<img src="images/gallery/multicoupling.png"/>
		<div>Multiple coupling</div>
		</a>
	</td>
	<td>
		<a href="gallery_pogopointmass.html">
		<img src="images/gallery/pogopointmass.png"/>
		<div>Pogo point masses</div>
		</a>
	</td>
	<td></td>
</tr>
<tr>
<td colspan="3" class="header">
Oscillators
</td>
</tr>
<tr>
	<td>
		<a href="gallery_hopf.html">
		<img src="images/gallery/hopf.png"/>
		<div>Coupled hopf oscillators</div>
		</a>
	</td>
	<td>
		<a href="gallery_morphedosc.html">
		<img src="images/gallery/morphedosc.png"/>
		<div>Morphed phase oscillators</div>
		</a>
	</td>
	<td></td>
</tr>
<tr>
<td colspan="3" class="header">
Rigid body dynamics
</td>
</tr>
<tr>
	<td>
		<a href="gallery_multipendulum.html">
		<img src="images/gallery/multipendulum.png"/>
		<div>Multiple chained pendulum</div>
		</a>
	</td>
	<td>
		<a href="gallery_closedfixed.html">
		<img src="images/gallery/closedfixed.png"/>
		<div>Closed loop dynamics on fixed base</div>
		</a>
	</td>
	<td>
		<a href="gallery_panto.html">
		<img src="images/gallery/panto.png"/>
		<div>Pantographic leg loop closure</div>
		</a>
	</td>
</tr>
</table>

<%= template 'templates/footer.html' %>
