table.CodeRay, div.console_output
{
  background-color: #f5f5f5;
  color: #333;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

table.CodeRay pre
{
  margin: 0;
}

.code span.keyword
{
  color: #a2340e;
}

.code span.string
{
  color: #096f38;
}

.code span.comment
{
  color: #5c3566;
}

td.line-numbers
{
  text-align: right;
  padding: 0px 5px 0px 0px;
}

div.console_output
{
  background-color: #2e3436;
  color: #d3d7cf;
}

div.console_output pre
{
  margin: 0;
}

/* vi:ex:ts=2:et */
