@import url('header.css');
@import url('code.css');

body
{
  font-family: Ubuntu, Cantarell, 'Droid Sans', 'DejaVu Sans', Arial, sans-serif;
  overflow-y: scroll;
}

*
{
  line-height: 1.6em
}

div#main
{
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

div#content p:first-of-type {
  margin-top: 0px;
  padding-top: 1em;
}

a
{
  color: #0064af;
  -webkit-transition: color 100ms linear;
  text-decoration: none;
}

a:visited
{
  color: #0064af;
}

a:hover
{
  color: #003269;
}

#markdown-toc
{
  float: right;

  margin: 0 0 0px 0px;
  padding: 10px 15px 15px 40px;

  white-space: nowrap;

  color: #333;
  background-color: #f5f5f5;
  border-radius: 0px 0px 10px 10px;
}

#markdown-toc li, #markdown-toc a
{
  color: #0064af;
}

#markdown-toc li:hover, #markdown-toc a:hover
{
  color: #003269;
}

h1
{
  font-size: 1.4em;
  margin-top: 2em;
}

h1 + p, h2 + p, h3 + p
{
  margin-top: 0.2em;
}

h1, h2, h3 {
  margin-bottom: 0px;
}

h2
{
  font-size: 1.1em;
  margin-bottom: 0px;
}

h3
{
  font-size: 1em;
}

h2, h3 {
  color: #666;
}

table.default
{
  border-collapse: collapse;
  margin: 0 auto;
}

table.default th, table.default td
{
  padding: 3px;
  padding-left: 20px;
}

table.default th:first-child, table.default td:first-child
{
  padding-left: 0;
}

table.default th
{
  border-bottom: 1px solid #333;
  text-align: left;
}

div.centered {
  text-align: center;
}

div.image-container {
  text-align: center;
  margin: 30px;
}

div.image {
  display: inline-table;
  text-align: center;
  padding: 12px;
  background-color: #f5f5f5;
  padding-bottom: 0px;
}

div.image div.caption {
  text-align: justify;
  display: table-caption;
  caption-side: bottom;
  background-color: #f5f5f5;
  padding: 12px;
  padding-top: 6px;
  font-style: italic;
  color: #666;
}

/* vi:ex:ts=2:et */
