div#menubar
{
  background-color: #333;
  padding: 10px 5px 10px 5px;
  border-radius: 8px;
  float: right;
  min-width: 300px;
  font-size: 0.9em;

  position: absolute;
  bottom: 0px;
  right: 0px;

  margin-bottom: 10px;
  margin-right: 10px;
}

div#menubar ul
{
  list-style: none;
  margin: 0;
  padding: 0px 5px 0px 5px;
}

div#menubar li
{
  display: inline;
  margin-top: 0px;
}

div#menubar a
{
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  text-shadow: 0 1px 0 #333;
  outline: none;
  -webkit-transition: background 100ms linear;
}

div#menubar a:hover, div#menubar a.selected
{
  background-color: #111;
  box-shadow: inset 0 -1px 0 rgba(100%,100%,100%, 0.4), inset 0 1px 3px rgba(0,0,0,0.4);
}

div#menubar a:hover
{
  background-color: #222;
}

/* vi:ex:ts=2:et */
